:root {
  --cyan: hsl(158, 36%, 37%);
  --light-cyan: hsl(154, 46%, 42%);
  --dark-cyan: hsl(159, 36%, 25%);
  --cream: hsl(30, 38%, 92%);
  --dark-blue: hsl(212, 21%, 14%);
  --dark-gray-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
  --main-font: "Montserrat", sans-serif;
  --accent-font: "Fraunces", sans-serif;
  font-size: 14px;
}

/* Font styling */
* {
  font-family: var(--main-font), sans-serif;
}

h1 {
  font-family: var(--accent-font);
  font-size: 34px;
  line-height: 1.2;
}

h2,
p,
strike {
  color: var(--dark-gray-blue);
  font-size: 1rem;
}

h3 {
  font-family: var(--accent-font);
  font-size: 30px;
}

h2 {
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

h3 {
  color: var(--cyan);
}

p {
  line-height: 1.8;
}

strike {
  font-weight: 100;
  font-size: 16px;
}

button {
  color: var(--white);
}

/* Card setup */
body {
  background-color: var(--cream);
  display: grid;
  place-content: center;
}

main {
  background-color: var(--white);
  border-radius: 8px;
  height: 450px;
  width: 600px;
  margin: auto;
}

article {
  height: 100%;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2, 50%);
}

picture > img {
  height: 100%;
  object-fit: cover;
  border-radius: 8px 0 0 8px;
}

div {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

h2 {
  padding: 2rem 2rem 0 2rem;
}

h1,
h3,
p {
  padding: 0 2rem;
}

h3 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

button {
  background-color: var(--cyan);
  border: none;
  border-radius: 8px;
  padding: 1rem;
  width: 80%;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  cursor: pointer;
  transition: background-color 0.25s;
}

button:hover {
  background-color: var(--dark-cyan);
}

@media (max-width: 600px) {
  main {
    height: 575px;
    width: 300px;
  }

  article {
    grid-auto-flow: row;
    grid-template-columns: none;
    grid-template-rows: 40%;
  }

  div {
    gap: 0.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    padding: 1.5rem 1.5rem 0 1.5rem;
  }

  h1,
  h3,
  p {
    padding: 0 1.5rem;
  }

  picture > img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }

  button {
    width: 85%;
  }
}
